{% load message_helper %}
{% for message in messages %}
 <a class="dropdown-item d-flex align-items-center" href="#">
  <div class="dropdown-list-image mr-3">
    <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
    <div class="status-indicator bg-success"></div>
  </div>
  <div class="font-weight-bold">
    <div class="text-truncate">{{message.body}}</div>
    <div class="small text-gray-500">{{message.sender.username}} · {{ message.sent_at|date:_("DATETIME_FORMAT") }}</div>
  </div>
</a>
{% empty %}
<p>Not fount record.</p>
{% endfor %}